## Instalar pacotes:
mysql-connector

SQLAlchemy

Pandas

In [3]:
#Importar a biblioteca
import mysql.connector

In [11]:
con = mysql.connector.connect(host='localhost', database= 'db_chemical', user='root', password='')

In [12]:
#Verificar a versão do servidor
if con.is_connected():
    db_info = con.get_server_info()
    print("Conectado ao servidor MySQL versão ", db_info)

Conectado ao servidor MySQL versão  5.7.36

In [17]:
#Verificar o banco de dados selecionado  
    cursor = con.cursor()
    cursor.execute("select database();")
    linha = cursor.fetchone()
    print("Conectado ao banco de dados", linha)

Conectado ao banco de dados ('db_chemical',)

In [21]:
#Importar as bibliotecas
import pandas as pd
import sqlalchemy

In [32]:
#Ler arquivo e armazenar em uma variávrel
df = pd.read_sql_query('Select * FROM tb_chemical', con)

In [33]:
#Exibir as 5 primeiras linhas
df.head()

,ID_Cliente,Nome,Comprador,Localidade,UF,N_Pedido,Nao_Atendido,Exception_Code,Departamento,Descrição
0,289750,Rhadia Ltda,Distribuidor,Campinas,SP,10000225,1,QUAL001,Qualidade,Retenção de matéria-prima
1,289750,Rhadia Ltda,Distribuidor,Campinas,SP,10000231,1,QUAL001,Qualidade,Retenção de matéria-prima
2,988462,Lechess Quimica,Indústria,Brasília,DF,10000230,1,QUAL001,Qualidade,Retenção de matéria-prima
3,871108,Ivonaky Industries,Indústria,São Paulo,SP,10000228,1,QUAL001,Qualidade,Retenção de matéria-prima
4,724044,DaLont,Distribuidor,Rio de Janeiro,RJ,10000229,1,QUAL001,Qualidade,Retenção de matéria-prima

In [34]:
#Encerrar a conexão com o Banco de Dados
if con.is_connected():
    cursor.close()
    con.close()
    print("Conexão ao MySQL foi encerrada")

Conexão ao MySQL foi encerrada